Password.txt
Simon/
Simon/*
TMMGDEMO.DSK
PART1.BIN
PART2.BIN
PART3.BIN
PART4.BIN
sin_table.asm
sin_table_generator
sound_stripper
Sounds/Pluck/Model_M_resampled.raw
Sounds/Pluck/Pluck.raw
Sounds/RJFC_Presents_TMM/RJFC_Presents_TMM_resampled.raw
Sounds/RJFC_Presents_TMM/RJFC_Presents_TMM.raw
Sounds/Dot/Finger_Snap_resampled.raw
Sounds/Dot/Finger_Snap.raw
Sounds/Dot/Now_resampled.raw
Sounds/Dot/Now.raw
Sounds/Dot/Move_resampled.raw
Sounds/Dot/Move.raw
Sounds/Dot/Move_More_resampled.raw
Sounds/Dot/Move_More.raw
Sounds/Dot/Change_resampled.raw
Sounds/Dot/Change.raw
Music/
Music/*
